<%- include('includes/head')%>
<%- include('includes/nav')%>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-5">
          <h1 class="text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo: </p>

          <div class="responsive-table">
            <table class="table my-3">
              <tr>
                <td>Luis </td>
                <td>Henrique </td>
                <td>784555598565</td>
                <td>luissantosmatos15@gmail.com</td>
              </tr>
            </table>
          </div>

        </div>
        <div class="col-lg-2"></div>
      </div>  
    </div>

<%- include('includes/footer')%>
